<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/create.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <form enctype="multipart/form-data" action="/products/create" method="post">
                <section class="carga">
                    <section class="informacionProducto">
                        <h3>Nombre</h3>
                        <input type="text" name="nombre" id="nombre" class="campos">

                        <h3>Descripcion</h3>
                        <input type="text" name="descripcion" id="descripcion" class="descr">

                        <h3>Marca</h3>
                        <select name="marca" class="campos" required>
                
                            <% for( let i = 0; i < marcas.length; i++ ) { %>
                                    <option value=<%= i+1 %>><%= marcas[i].nombre %></option>
                            <% } %>

                        </select>

                        <h3>Forma</h3>
                        <select name="forma" class="campos" required>
                
                            <% for( let i = 0; i < formas.length; i++ ) { %>
                                <option value=<%= i+1 %>><%= formas[i].nombre %></option>
                            <% } %>

                        </select>

                        <h3>Color</h3>
                        <select name="color" class="campos" required>
                
                            <% for( let i = 0; i < colores.length; i++ ) { %>
                                <option value=<%= i+1 %>><%= colores[i].nombre %></option>
                            <% } %>

                        </select>

                        <h3>Precio</h3>
                        <input type="text" name="precio" id="precio" class="campos">

                        <h3>Stock</h3>
                        <input type="text" name="stock" id="stock" class="campos">
                    </section>

                    <section class="cargaImagen">
                        <img src="/img/profiles/default.jpg" alt="">
                        <div class="file-select" id="src-file1">
                            <input type="file" name="imagen" aria-label="Archivo">
                        </div>
                        <% if (locals.errorimagen && errorimagen.imagen) { %>
                            <p class="mensaje-error"><small>
                                *
                                <%= errorimagen.imagen.msg %>
                            </small></p>
                            <% } %>
                    </section>

                    <section class="botones">

                        <button type="submit" class="boton">Crear Producto</a></button>
                        <ul class="lista-errores">
                            <% if (locals.errors) { errors.forEach( error => { %>
                                <li><small>
                                    *
                                    <%= error.msg %>
                                </small></li>
                                <% }) }%>
                        </ul>

                    </section>

                </section>
            </form>
        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>