<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/detail.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <% if (producto == undefined) { %>
                <h1>ERROR AL CARGAR EL PRODUCTO</h1>
                <% } else { %>
                    <section class="producto">
                        <section class="izq-img">
                            <img src="<%= producto.imagen %>" alt="FotoProducto">
                        </section>
                        <section class="der-info">
                            <h1>
                                <%= producto.nombre %>
                            </h1>
                            <article class="precio-fav">
                                <p>$
                                    <%= producto.precio %>
                                </p>
                                <% if ((usuarioLog != undefined)&&(usuarioLog.esAdmin == 1)) { %>
                                    <div class="detailA">
                                        <a href="/products/edit/<%= producto.idproducto %>"><i class="fas fa-edit"></i></a>
                                        <form action="/products/<%= producto.idproducto %>?_method=DELETE" method="post">
                                            <button type="submit" class="botonBorrar"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                <% } %>


                            </article>

                            <ul class="datos">
                                <li><b>Forma: </b>
                                    <%= producto.formas.nombre %>
                                </li>
                                <li><b>Color: </b>
                                    <%= producto.colores.nombre %>
                                </li>
                                <li><b>Marca: </b>
                                    <%= producto.marcas.nombre %>
                                </li>
                                <li><b>Descripcion: </b>
                                    <%= producto.descripcion %>
                                </li>
                            </ul>


                            <article class="carrito-compartir">
                                <form action="/products/cart">
                                    <button type="submit" class="boton">Agregar al Carrito</button>
                                </form>
                                <i class="fas fa-share-alt"></i>
                            </article>

                        </section>
                    </section>

                    <% } %>

        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>