<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/detail.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <% if (producto == undefined) { %>
                <h1>ERROR AL CARGAR EL PRODUCTO</h1>
                <% } else { %>
                    <section class="producto">
                        <section class="izq-img">
                            <img src="<%= producto.imagen %>" alt="FotoProducto">
                        </section>
                        <section class="der-info">
                            <h1>
                                <%= producto.nombre %>
                            </h1>
                            <article class="precio-fav">
                                <p>$
                                    <%= producto.precio %>
                                </p>
                                <i class="far fa-heart"></i>
                            </article>
                            <p class="datos">
                                <%= producto.descripcion %>
                            </p>


                            <article class="carrito-compartir">
                                <form action="/products/cart">
                                    <button type="submit" class="boton">Agregar al Carrito</button>
                                </form>
                                <i class="fas fa-share-alt"></i>
                            </article>

                        </section>
                    </section>

                    <% } %>

        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>