<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/categorias.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section>

                <% if (categoria.length == 0) { %>
                    <h1>NO HAY ITEMS</h1>
                    <% } else {%>

                        <% for( let i = 0; i < categoria.length; i++ ) { %>
                            <article>
                                <a class="a-homesecundario" href="/products/<%= categoria[i].nombrecategoria %>/<%= categoria[i].id %>">
                            <img src="<%= categoria[i].imagen %>" alt="Producto1">
                        </a>
                                <div>
                                    <p class="precios">
                                        <%= categoria[i].nombre %>
                                    </p>
                                </div>
                            </article>
                            <% }} %>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>