<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/modify.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <form enctype="multipart/form-data" action="/products/<%= producto.id_producto %>?_method=PUT" method="post" class="frmCarga">
                <section class="carga">
                    <section class="informacionProducto">
                        <h3>Nombre</h3>
                        <input type="text" name="nombre" id="nombre" class="campos" value="<%= producto.nombre %>">

                        <h3>Descripcion</h3>
                        <input type="text" name="descripcion" id="descripcion" class="descr" value="<%= producto.descripcion %>">

                        <h3>Marca</h3>
                        <select name="marca" class="campos">
                
                            <% for( let i = 0; i < marcas.length; i++ ) { %>
                                <% if (producto.id_marca == marcas.id_marca) { %>
                                        <option value=<%= i+1 %> selected ><%= marcas[i].nombre %></option>
                                    <% } else { %>
                                        <option value=<%= i+1 %>><%= marcas[i].nombre %></option>
                                    <% } %> 
                            <% } %>

                        </select>

                        <h3>Forma</h3>
                        <select name="forma" class="campos">
                            
                            <% for( let i = 0; i < formas.length; i++ ) { %>
                                <% if (producto.id_forma == formas.id_forma) { %>
                                        <option value=<%= i+1 %> selected ><%= formas[i].nombre %></option>
                                    <% } else { %>
                                        <option value=<%= i+1 %>><%= formas[i].nombre %></option>
                                    <% } %> 
                            <% } %>

                        </select>

                        <h3>Color</h3>
                        <select name="color" class="campos">
                
                            <% for( let i = 0; i < colores.length; i++ ) { %>
                                <% if (producto.id_color == colores.id_color) { %>
                                    <option value=<%= i+1 %> selected="selected"><%= colores[i].nombre %></option>
                                <% } else { %>
                                    <option value=<%= i+1 %>><%= colores[i].nombre %></option>
                                <% } %> 
                                
                            <% } %> 

                        </select>

                        <h3>Precio</h3>
                        <input type="text" name="precio" id="precio" class="campos" value="<%= producto.precio %>">

                        <h3>Stock</h3>
                        <input type="text" name="stock" id="stock" class="campos" value="<%= producto.stock %>">
                    </section>
                    <section class="cargaImagen">
                        <img src="<%= producto.imagen %>" alt="">
                        <div class="file-select" id="src-file1">
                            <input type="file" name="imagen" aria-label="Archivo">
                        </div>
                    </section>

                    <section class="botones">

                        <button type="submit" class="boton guardar">Guardar Cambios</a></button>
            </form>
            <form action="/products/<%= producto.id_producto %>?_method=DELETE" method="post" class="btnEliminar">
                <button type="submit" class="boton">Eliminar Producto</button>
            </form>


            </section>

            </section>

        </main>

        <%- include("../partials/footer.ejs") %>
</body>

</html>