<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <form enctype="multipart/form-data" action="/users/profile?_method=PUT" method="post">
                <section class="perfil">
                    <section class="info">
                        <ul class="info-items">
                            <li><b>Nombre: </b>
                                <%= usuario.nombre %>
                            </li>
                            <li><b>Apellido: </b>
                                <%= usuario.apellido %>
                            </li>
                            <li><b>Email: </b>
                                <%= usuario.email %>
                            </li>
                            <% if (usuario.tipos.nombre == "Administrador") { %>
                                <li><b>Tipo de usuario: </b>Administrador</li>
                                <% } else { %>
                                    <li><b>Tipo de usuario: </b>Comprador</li>
                                    <% } %>

                        </ul>
                    </section>
                    <section class="imagen">
                        <img src="<%= usuario.imagen %>" alt="">
                        <div class="file-select" id="src-file1">
                            <input type="file" name="imagen" aria-label="Archivo">
                        </div>
                    </section>
                </section>

                <section class="btnGuardar">
                    <button type="submit" class="boton">Guardar</button>
                </section>


            </form>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>